# App Backend Configuration
APP_BACKEND_PORT=3000
NODE_ENV=production

# IA Backend Configuration
IA_BACKEND_PORT=3001

# Frontend Configuration
APP_FRONTEND_PORT=4200
IA_FRONTEND_PORT=4201

# Network Configuration
NETWORK_NAME=iaproject-network
